
# build output
# dependencies
# environment variables
# jetbrains setting folder
# logs
# macOS-specific files
.DS_Store
.astro/
.env
.env.production
.idea/
_logo-backup/
dist/
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
